PORT=3000

# Choose one of the following Redis config styles.
REDIS_URL=redis://default:your-password@your-redis-host:6379/0

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_USERNAME=
REDIS_TLS=false

EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
POKE_TO_EMAIL=
POKE_FROM_NAME=
